/BARD.xlsx
/bard_cookies_test.json
/Bing.xlsx
/bing_cookies_test.json
/build
/clova-x.naver.com_cookies.txt
/CLOVA.xlsx
/dist
/error.txt
/main.spec
/output.txt
/test.py
/__MACOSX
/__pycache__
/댓글.xlsx